$main-font: "Raleway", "Arial", "Helvetica", sans-serif;

$white-color: #fff;
$black-color: #161616;
$second-black: #000000;
$yellow-color: #FFE500;
$grey-background: #F1F2F5;
$second-grey-background: #EFF0F1;

$tablet-width: 1074px;
$desktop-width: 1920px;