.button{
    border: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    // @include font(700 18px, 24px);
    font: 700 18px/24px $main-font;
    padding: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: center;

    @include tablet-down {
        font: 700 14px/16px $main-font;
    }
}

.button--primary{
    color: $black-color;
    background-color: $yellow-color;
}