.contacts {
    display: flex;

    @include tablet-down {
        display: none;
    }
}

.contacts__item{
    color: $white-color;
    letter-spacing: 0.1em;
    font: 13px/24px, $main-font;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts__item:before{
    content: ' ';
    flex-shrink: 0;
    margin-right: 14px;
}

.contacts__item--phone {
    margin-right: 38px;
}

.contacts__item--phone::before {
    background: url(../img/icon-phone.svg) no-repeat 0 0;
    width: 10px;
    height: 12px;
}

.contacts__item--address {
    font-size: 10px;
}

.contacts__item--address::before {
    content: '';
    background: url(../img/location-icon.svg) no-repeat 0 0;
    width: 9px;
    height: 13px;
}