.drop {
    position: relative;
}

.drop:hover > .nav__drop {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.drop:after {
    content: '';
    border: 4px solid;
    border-color: transparent;
    border-top-color: $drop-triangle;
    border-bottom: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    transition: transform .2s ease;
}

.drop:last-child::after {
    right: 7px;
}

.drop:hover:after {
    transform: rotate(180deg);
}

.drop:last-child:hover:after {
    transform: rotate(-90deg);
}

@include tablet {
    .drop:after {
        display: none;
    }

    .drop > .nav__link,
    .drop > .dropdown__link {
        display: flex;
        align-items: center;
        white-space: normal;
    }

    .drop > .nav__link:after,
    .drop > .dropdown__link:after {
        content: '';
        border: 4px solid;
        border-color: transparent;
        border-top-color: $drop-triangle;
        border-bottom: 0;
        margin-left: 8px;
        flex-shrink: 0;
    }

    .drop > .nav__link._active:after,
    .drop > .dropdown__link._active:after {
        content: '';
        border: 4px solid;
        border-color: transparent;
        border-bottom-color: $drop-triangle;
        border-top: 0;
    }
}