.header {
    background-color: #161616;
}

.header__top-panel {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    padding: 29px 0 113px 0;
}

.header__logo {
    // display: block;
    margin-right: 79px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font: normal 12px/14px, 'Raleway', sans-serif;
    letter-spacing: 0.22em;
    padding: 12px 19px 9px 19px;
    border: 1px solid #fff;
}

.header__navigation {
    display: flex;
    // justify-content: space-between;
    padding: 0;
    padding-top: 11px;
    margin: 0;
    margin-right: 28px;
    list-style-type: none;
    text-transform: uppercase;
    font: normal 13px/15px, 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.header__navigation--item:not(:last-child) {
    margin-right: 30px;
}

.header__bottom-panel {
    display: flex;
    padding: 0 0 0 473px;
}

.header__bottom-panel--description {
    padding: 72px 0 54px 0;
    margin: 0;
    font: 700 29px/49px 'Raleway', sans-serif;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
}

.header__bottom-panel--button {
    border: none;
    padding: 19px 56px 19px 50px;
    background-color: #FFE500;
    font: 700 18px/21px, 'Raleway', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}