.header {
    background-color: $black-color;
    position: relative;
    z-index: 1;
}

.header::after {
    @include tablet-down {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $black-color;
        opacity: 0.6;
        z-index: -1;
    }
}

.header__top {
    padding: 29px 0;
}

.header__bottom{
    padding: 137px 0 39px 0;

    @include tablet-down {
        padding: 100px 0 22px 0;
    }
}

.header__toggle {
    display: none;
    justify-content: center;
    align-items: flex-start;
    width: 32px;
    height: 32px;
    background-color: $black-color;
    cursor: pointer;
    border: none;
    z-index: 4;

    @include tablet-down {
        display: flex;
        background-color: transparent;
    }
}

.header__toggle--closed::before {
    content: '';
    width: 24px;
    height: 2px;
    background-color: $white-color;
    box-shadow: 0 8px 0 0 $white-color, 0 16px 0 0 $white-color;
}

.header__toggle--opened {
    top: 0;
    right: auto;
    left: 0;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 35px;
      right: 17px;
      width: 25px;
      height: 2px;
      background-color: $white-color;
    }
  
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }
  
    &::after {
      transform: rotate(-45deg);
    }
  
    &:active::before,
    &:active::after {
      background-color: fade($white-color, 30%);
    }
  }