.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    @include tablet-down {
        transform: translateY(-100%);
        background-color: $black-color;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: transform .2s ease;
    }
}

.nav__list{
    display: flex;
    padding: 0;
    list-style-type: none;

    @include tablet-down {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 80px;
    }
}

.nav._active{
    transform: translateY(0);
    z-index: 1;
  }

.nav__link{
    color: $white-color;
    display: block;
    font: 13px/24px $main-font;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.13px;

    @include tablet-down {
        font: 14px/16px $main-font;
        padding-bottom: 39px;
    }
}