.rent-storage {
    background-color: $black-color;
    padding: 205px 0 109px 0;
    margin-bottom: 202px;
    position: relative;

    @include tablet-down {
        margin-bottom: 58px;
        padding-top: 0;
        padding-bottom: 39px;
    }
}

.rent-storage .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-down {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.rent-storage__column {
    @include tablet-down {
        order: 2;
    }   
}

.rent-storage__header {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font: 700 30px/35px $main-font;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    color: $white-color;

    @include tablet-down {
        font: 700 18px/21px $main-font;
        text-align: center;
    }
}

.rent-storage__column {
    padding-left: 19px;

    @include tablet-down {
        padding: 0;
    }
}

.rent-storage__text {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font: 15px/18px $main-font;
    color: $white-color;
    max-width: 493px;

    @include tablet-down {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 63px;
    }
}

.rent-storage__link {
    text-decoration: none;
    display: block;
    font: 700 12px/14px $main-font;
    color: $white-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: $black-color;
    padding: 19px 30px;
    max-width: 277px;
    border: 1px solid $white-color;

    @include tablet-down {
        margin: 0 auto;
        width: 288px;
    }
}

.rent-storage__picture {
    position: absolute;
    display: block;
    width: 50%;
    height: 570px;
    right: 0;
    top: 132px;
    object-fit: cover;

    @include tablet-down {
        position: static;
        width: 100%;
        height: 250px;
        margin-top: -46px;
        margin-bottom: 16px;
    }
}